.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:none;
    display: flex;
    justify-content: space-around;
    margin: 20px 0 0 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    /* background-color: #fff; */
}

.bottom-navbar-item {
    width: 25%;
    padding: 20px;
    font-size: 16px;
    color: #333;
    border: 1px solid #0000009a;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease;
}

.bottom-navbar-item:hover {
    color: #007bff;
}
