/* Container for Search Bar */
.search-bar-container {
    display: flex;
    justify-content:baseline;
    width: 100%; 
    box-sizing: border-box; 
}

/* Form Styling */
.search-form {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px; 
}

/* Input Styling */
.search-input {
    min-width: 200px; 
    width: auto;
}

/* Button Styling */
.search-button {
    white-space: nowrap; 
}